/*configuração*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Courier New', 'Courier', 'monospace';
    font-size: 13.5px;
    color: #d8e1f0;
    background-color: #01000a;
}

/*nav-bar*/
.header {
    position: sticky;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #e6e1f7;
    background-color: #0d0c0f;
}


.img-Elmo {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 100px;
    margin-right: 10px;
    width: 75px;
    height: auto;
}

.img-Nome {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 125px;
    height: auto;
}

nav {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}

ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding-right: 150px;
}

li {
    margin-left: 10px;
}

a {
    color:#d8e1f0;
    text-decoration: none;
    transition: color 0.2s ease, opacity 0.2s ease;
    padding: 10px;
}

a:hover {
    opacity: 1;
    color: #d0830f;
}