/*configuração*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Courier New', 'Courier', 'monospace';
    font-size: 13.5px;
    color: #d8e1f0;
    background-color: #01000a;
}

/*nav-bar*/
.header {
    position: sticky;
    display: flex;
    align-items: center;
    gap: 5px;
    color: #e6e1f7;
    background-color: #0d0c0f;
}


.img-Elmo {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 100px;
    margin-right: 10px;
    width: 75px;
    height: auto;
}

.img-Nome {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 125px;
    height: auto;
}

nav {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
}


ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding-right: 150px;
    align-items: center;
}

li {
    margin-left: 10px;
}

.a_Sign {
    color:#d8e1f0;
    text-decoration: none;
    transition: color 0.2s ease-out, opacity 0.2s ease;
    transition: transform 0.2s ease;
    padding: 10px;
}

.a_Sign:hover {
    opacity: 1;
    color: #d0830f;
    cursor: pointer;
}

.button_Log {
    padding: 10px;
    font-family: 'Courier New', 'Courier', 'monospace';
    font-size: 13.5px;
    color: #d8e1f0;
    background-color: #d0830f;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    transition: transform 0.5s ease;
    transition: background-color 0.7s ease, opacity 0.2s ease-out ;
}

.button_Log:hover {
    transform: scale(1.05);
    background-color: #d05c0f;
}

/* Intro config */

.containerRight {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 300px;
    padding-top: 100px;
}

.rightTitle {
    font-family: 'Courier New', 'Courier', 'monospace';
    text-align: right;
    font-size: 70px;
    margin: 0;
}

.complimentaryText {
    margin: 20px 0 0 0;
    font-family: 'Courier New', 'Courier', 'monospace';
    text-align: right;
    font-size: 30px;
}

/*recent config*/

.h1_RecentTitle {
    padding-top: 200px;
    font-family: 'Courier New', 'Courier', 'monospace';
    padding-left: 200px;
    text-align: left;
    font-size: 45px;
    margin: 20px;
}

#post-title {
    text-align: left;
    display: flex;
    padding-top: 20px;
}

#post-summary{
    padding-top: 5px;
}

#posts_recent  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 55px;
    padding: 20px;
    padding-bottom: 75px;
}

.recentpost {
    width: 300px;
    border: 1px solid #ccc;
    padding: 15px;
    margin: 20px;
    box-shadow: 0 2px 5px rbga(0, 0, 0, 0.2);
    text-align: left;
}

.post-image {
    width: 400px;
    height: 250px;
    padding-bottom: 20px;
    background-color:  #0a0a11;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    font-size: 16px;
    color: #666;
}

.stayTuned {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 150px;
}

.a-recent {
    color:#d8e1f0;
    font-size: 30px;
    text-decoration: none;
    text-align: center;;
}

/*footer config*/

.footerIndex {
    background-color: #993e14;
    padding: 15px 0;
    text-align: center;
}