<!--Colocar este arquivo em app/views. Colocar a pasta img e o arquivo .css em app/static-->
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="FireFox">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titans Template</title>
    <link rel="icon" type="image/icon" href="/app/static/img/HelmetTigas.png">
    <link rel="stylesheet" href="/app/static/css/inicial.css">
</head>

<!--Barra de Navegação-->
<body>
    <div class="header">
        <img src="/app/static/img/HelmetTigas.png" alt="Elmo" class="img-Elmo">
        <img src="/app/static/img/TextTitans_Modern.png" alt="Nome" class="img-Nome">

        <nav>
            <ul>
                <li> <button class="button_Log" href="#"> Entre </button> </li>
                <li> <a class="a_Sign" href="#"> Registre-se </a> </li>
                
            </ul>
        </nav>
    </div>

    <div class="containerRight">
        <h1 class="rightTitle"> Bem vindo a <br> Oficina do <br>Tigas! </h1>
        <span class="complimentaryText"> 
            A oficina é o lugar onde a Equipe Titans<br>
            posta as principais novidades sobre a equipe,<br>
            assuntos de interesse e muito mais!
        </span>
    </div>

    <h1 class="h1_RecentTitle">
        Posts Recentes!
    </h1>

    <div id="posts_recent">
        <div class="recentPost">
            <div class="post-image"></div>
           <h2 id="post-title">Post 1</h2>
           <p id="post-summary">Resumo 1</p>
        </div>

        <div class="recentPost">
            <div class="post-image"></div>
           <h2 id="post-title">Post 2</h2>
           <p id="post-summary">Resumo 2</p>
        </div>

        <div class="recentPost">
            <div class="post-image"></div>
           <h2 id="post-title">Post 3</h2>
           <p id="post-summary">Resumo 3</p>
        </div>

    </div>

    <div class="stayTuned">
        <a class="a-recent" href="#">Saiba Mais</a>
    </div>
    

    <footer class="footerIndex">
        <div>
           <p class="pfooter">2025 Tigas' Workshop. All rights Reserved*</p> 
        </div>
    </footer>
</body>

</html>
