<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="FireFox">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="icon" type="image/icon" href="/app/static/img/HelmetTigas.png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>

<body>

    <div class="login-container">
        <div>
            <img src="/app/static/img/TextTitans_ModernW.svg" alt="Elmo" class="img-Elmo">
            
        </div>
        <form class="login-form" id="loginForm">
            <div class="input-group">
                <label for="username">
                    <h1>Usuário<br></h1>
                </label>
                <input type="text" id="username" name="username" placeholder="Digite seu usuário" required>
            </div>
            
            <div class="input-group">
                <label for="password">
                    <h1>Senha<br></h1>
                </label>
                <input type="password" id="password" name="password" placeholder="Digite sua senha" required>
            </div>

            <div class="input-group">
                <p>Não tem conta? </p><a href="#">Registre-se! </a>
            </div>
            <button type="submit">Entrar</button>
        </form>
    </div>  

    <script src="/static/js/login.js"></script>

</body>