<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="FireFox">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
    <link rel="icon" type="image/icon" href="/app/static/img/HelmetTigas.png">
    <link rel="stylesheet" href="/app/static/css/login.css">
</head>

<body>

    <div class="login-container">
        <div>
            <img src="/app/static/img/TextTitans_ModernW.svg" alt="Elmo" class="img-Elmo">
            
        </div>
        <form class="login-form">
            <div class="input-group">
                <label for="username">
                    <h1>Seu Usuário<br></h1>
                </label>
                <input type="text" id="username" name="username" placeholder="Digite um nome de usuário" required>
            </div>
            
            <div class="input-group">
                <label for="password">
                    <h1>Sua Senha<br></h1>
                </label>
                <input type="password" id="password" name="password" placeholder="Digite uma senha secreta" required>
            </div>

            <div class="input-group">
                <p>Já tem conta? </p><a href="#">Entre! </a>
            </div>
            <button type="submit">Registrar</button>
        </form>
    </div>  

    <script>
        document.getElementById('signupForm').addEventListener('submit', function(event) {
            event.preventDefault();
            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;
    
            fetch('/signup', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ username, password }),
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    window.location.href = '/login';
                } else {
                    alert(data.message);
                }
            });
        });
    </script>

</body>